@charset "utf-8";
.cdlb_concordanciadelabiblia.bibleVerse
{
    font-weight:bold;
}
.cdlb_concordanciadelabiblia.linkToWebsite
{
	font-size:6px;}.cdlb_agregarverso{    text-align: center;    color:#aaa; 	font-size: 12px;	margin:0 0 0rem 0}